openai
gym==0.26.2
opencv-python
matplotlib
pettingzoo[all]==1.23.0
dm_env
dm_tree
dmlab2d
gymnasium
ml_collections
scikit-learn
ray[rllib,default]
omegaconf
jax==0.4.20
jaxlib==0.4.20
chex==0.1.7
# install custom meltingpot in editable mode